/* .btn-incline__hover-button {
  position: relative;

  top: -50%;
  left: 35%;

  width: 100px;
  height: 26px;

  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  text-align: center;

  clip-path: polygon(
    10% 0,
    100% 0,
    100% 30%,
    100% 55%,
    90% 100%,
    30% 100%,
    0 100%,
    0% 45%
  );
}

.cube_top__hover-button {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.cube_bottom__hover-button {
  position: absolute;
  top: 70%;
  right: 25.2%;
  z-index: 2;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.link-hover-button {
  position: absolute;
  max-width: 100px;
  padding: 10px 10px;
  font-family: "Inter";
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
} */

.hover-button {
  clip-path: polygon(
    10% 0,
    100% 0,
    100% 30%,
    100% 55%,
    90% 100%,
    30% 100%,
    0 100%,
    0% 45%
  );

  background: #fff;
  color: rgba(29, 36, 52, 1);
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
}
