.styledHeader {
  border: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04) 15.71%,
    rgba(255, 255, 255, 0.24) 30.52%,
    rgba(255, 255, 255, 0.36) 50.14%,
    rgba(255, 255, 255, 0.24) 69.29%,
    rgba(255, 255, 255, 0.04) 87.86%
  );
  border-image-slice: 1;
}

.headerContainer {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__wrapper {
  display: flex;
  align-items: flex-end;
}

.styledNav {
  display: flex;
}

.styledNav__border {
  border-right: 1px solid transparent;
  border-image: linear-gradient(
    180deg,
    rgba(69, 72, 87, 0) 17.61%,
    #585b6a 100%
  );
  border-image-slice: 1;
}

.styledNav__link-wrapper {
  padding: 24px 0px 18px 0px;
  margin: 0px 2px 2px 2px;
}

.styledNav__link-wrapper:hover {
  background: linear-gradient(
    180deg,
    rgba(239, 129, 27, 0) 46.81%,
    rgba(239, 129, 27, 0.25) 100%
  );
}

.styledNav__link-wrapper:hover .styledHav__a {
  color: #ef811b;
  text-shadow: 3px 3px 0px rgba(239, 129, 27, 0.15),
    -3px -3px 0px rgba(255, 255, 255, 0.1);
}

.styledHav__a {
  color: #fff;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 700;
  padding: 16px 22px;
}

.headerLanguageButton {
  color: #fff;
  text-align: center;
}

.styledNav__gradient-left,
.styledNav__gradient-right {
  width: 85px;
  height: 50px;
  margin-bottom: 2px;
  opacity: 0.3;
}

.styledNav__gradient-left {
  margin-right: 2px;
  background: linear-gradient(
    335deg,
    rgba(239, 129, 27, 0.7) 0%,
    rgba(239, 129, 27, 0) 33.24%
  );
}

.styledNav__gradient-right {
  margin-left: 2px;
  background: linear-gradient(
    35deg,
    rgba(239, 129, 27, 0.7) 0%,
    rgba(239, 129, 27, 0) 33.24%
  );
}
