.seventhsection {
  max-width: 1400px;
  height: 520px;
  margin: 0 auto;
}

.seventhsection h2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
}

.mailing__wrapper {
    max-width: 1290px;
    margin: 0 auto;
}

